<%= form_with(model: ka, local: true) do |form| %>
  <% if ka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ka.errors.count, "error") %> prohibited this ka from being saved:</h2>

      <ul>
      <% ka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <td><%= form.text_field :keterangan %></td>
      <td><%= form.text_field :debit %></td>
      <td><%= form.text_field :kredit %></td>
      <td><%= form.text_field :saldo %></td>
      <td><%= form.number_field :bendahara_id %></td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
