<%= render 'layouts/header_adm'%>
<br><br>
<h1 style="text-align: center;">Data Kejuaraan</h1>


<div class="container">
  <div class="row">
     <div class="col-sm-2">
      <div class="list-group">
        <a href="#" class="list-group-item "><span>Asisten Pelatih</span></a>
        <a href="#" class="list-group-item "> <span>Bendahara</span></a>
        <a href="#" class="list-group-item"> <span>Sekretaris</span></a>
        <a href="#" class="list-group-item"> <span>Anggota Aktif</span></a>
        <a href="#" class="list-group-item"> <span>Alumni</span></a>
        <a href="#" class="list-group-item"> <span>Semua Data</span></a>
      </div>
    </div>

    <div class="col-sm-8">
      <%= form_with(model: data_kejuaraan, local: true) do |form| %>
        <% if data_kejuaraan.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(data_kejuaraan.errors.count, "error") %> prohibited this data_kejuaraan from being saved:</h2>      

            <ul>
            <% data_kejuaraan.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>          

        <div class="field">
          <%= form.label :nama_kegiatan %>
          <%= select_tag "data_kejuaraans[kegiatan_id]", options_for_select(Kegiatan.all.pluck(:nama_kegiatan, :id), selected: @kegiatan), class: 'form-control'  %>
        </div>      

        <div class="field">
          <%= form.label :jumlah_peserta %>
          <%= form.text_field :jumlah_peserta , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :emas %>
          <%= form.text_field :emas, class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :perak%>
          <%= form.text_field :perak, class: "form-control", class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :perunggu%>
          <%= form.text_field :perunggu, class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :jumlah_total_medali %>
          <%= form.text_field :jumlah_total_medali , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :keterangan %>
          <%= form.text_field :keterangan , class: "form-control"%>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-primary mt-2 float-right'%>
        </div>
      <% end %>
  </div>
</div>
