<%= render 'layouts/header_adm'%>
<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Data Kejuaraan</h1>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<div class="container">
   <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a href="#" class="list-group-item "><span>blm di tentuka menu nya</span></a>
        <a href="#" class="list-group-item active"> <span>Form UKT</span></a>
        <a href="#" class="list-group-item"> <span>Jadwal UKT</span></a>
      </div>
    </div>

    <div class="col-sm-10">
      <%= link_to 'New Data Kejuaraan', new_data_kejuaraan_path , class: "btn btn-primary float-right" %> <br><br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Nama Kegiatan</th>
            <th>Kegiatan</th>
            <th>Perolehan</th>
            <th>Kategori under</th>
            <th>Jenis kejuaraan</th>
            <th>Prestasi pemula</th>
            <th>Tingkat</th>
            <th colspan="3"></th>
          </tr>
        </thead>      

        <tbody>
          <% @data_kejuaraans.each_with_index do |data_kejuaraan, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= data_kejuaraan.kegiatan_id %></td>
              <td><%= data_kejuaraan.jumlah_peserta %></td>
              <td><%= data_kejuaraan.emas %></td>
              <td><%= data_kejuaraan.perak %></td>
              <td><%= data_kejuaraan.perunggu %></td>
              <td><%= data_kejuaraan.jumlah_total_medali %></td>
              <td><%= data_kejuaraan.keterangan %></td>
              <td><%= link_to 'Show', data_kejuaraan %></td>
              <td><%= link_to 'Edit', edit_data_kejuaraan_path(data_kejuaraan) %></td>
              <td><%= link_to 'Destroy', data_kejuaraan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<br>

  </div>
</div>