
<h1 style="text-align: center;">Kas SMA</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <% if notice.present?%>
      <p style="text-align: center" id="notice" class="alert alert-danger"><%= notice %></p>
    <%end%>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-10">
      <%= link_to 'Input Kas SMA', new_kas_sma_path , class: "btn btn-primary float-right"  %><br><br>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Keterangan</th>
            <th>Debit</th>
            <th>Kredit</th>
            <th>Saldo</th>
            <th>Bendahara</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>      

        <tbody>
          <% @kas_smas.each do |kas_sma| %>
            <tr>
              <td><%= kas_sma.keterangan %></td>
              <td><%= kas_sma.debit %></td>
              <td><%= kas_sma.kredit %></td>
              <td><%= kas_sma.saldo %></td>
              <td><%= kas_sma.akun.nama %></td>
              <td><%= link_to 'Show', kas_sma %></td>
              <td><%= link_to 'Edit', edit_kas_sma_path(kas_sma) %></td>
              <td><%= link_to 'Destroy', kas_sma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<br>


  </div>
</div>
