<%= render 'layouts/header_adm'%>
<br><br>
<h1 style="text-align: center;">Absensi MTC</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if notice.present?%>
        <p style="text-align: center" id="notice" class="alert alert-success"><%= notice %></p>
      <%end%>
    </div>
  </div>

  <div class="row">
  	<div class="col-sm-12">
  	 	<table class="table mx-auto">

  	 		<tr>
  	 			<td>Nama Kegiatan</td>
  	 			<td>:</td>
  	 			<td><%= @kegiatan.nama_kegiatan %></td>
  	 		</tr>

  	 		<tr>
  	 			<td>Tempat</td>
  	 			<td>:</td>
  	 			<td><%= @kegiatan.tempat %></td>
  	 		</tr>

  	 		<tr>
  	 			<td>Tanggal</td>
  	 			<td>:</td>
  	 			<td><%= @kegiatan.tgl %></td>
  	 		</tr>


  	 		<tr>
  	 			<td>Biaya</td>
  	 			<td>:</td>
  	 			<td><%= @kegiatan.biaya %></td>
  	 		</tr>
		</table>
		<%= link_to 'Edit', edit_kegiatan_path(@kegiatan) , class: 'btn btn-warning float-right ml-2'%> 
<%= link_to 'Back', kegiatans_path, class: 'btn btn-primary float-right ml-2' %>
	
	</div>
</div>

</div>