
<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 style="text-align: center;">Daftar Akun MTC</h1>

      <%= form_with(model: akun, local: true) do |form| %>
        <% if akun.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(akun.errors.count, "error") %> prohibited this akun from being saved:</h2>      

            <ul>
            <% akun.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>     

        <div class="field">
          <%= form.label :no_reg %>
          <%= form.number_field :no_reg, class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :nama %>
          <%= form.text_field :nama, class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :tempat_lahir %>
          <%= form.text_field :tempat_lahir, class: "form-control" %>
        </div>      

        <div class="field">
          <%= form.label :tgl_lahir %>
          <%= form.date_field :tgl_lahir , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :Sabuk %>
          <%= select_tag "akun[geup_id]", options_for_select(Geup.all.pluck(:warna_string, :id), selected: @akun.geup_id), class: 'form-control'  %>
        </div>      

        <div class="field">
          <%= form.label :alamat %>
          <%= form.text_area :alamat , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :dojang %>
          <%= select_tag "akun[dojang_id]", options_for_select(Dojang.all.pluck(:nama_dojang, :id), selected: @akun.dojang_id), class: 'form-control'  %>
        </div>      

        <div class="field">
          <%= form.label :tahun_masuk %>
          <%= form.number_field :tahun_masuk , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :angkatan %>
          <%= form.number_field :angkatan , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :pekerjaan %>
          <%= form.text_field :pekerjaan , class: "form-control"%>
        </div>      

        <div class="field">
          <%= form.label :status %>
          <%= select_tag "akun[status_id]", options_for_select(Status.all.pluck(:nama_status, :id), selected: @akun.status_id), class: 'form-control'  %>
        </div>
        <br><br>

        <% if current_user.present?%>
          <% if current_user.role_id == 9 %>
            <div class="field">
            <%= form.label :role_id %>
            <%= select_tag "akun[role_id]", options_for_select(Role.all.pluck(:nama_role, :id), selected: @role), class: 'form-control'  %>
          </div>
          <%end%>
        <%end%>

        <hr>

        <div class="field">
          <%= form.label :username %>
          <%= form.text_field :username, class: "form-control"  %>
        </div>
        
        <div class="field">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control"  %>
        </div>

        <div class="actions">
          <%= form.submit  class: 'btn btn-primary mt-2 float-right'%>
        </div>
      <% end %>
  </div>
</div>