<%= render 'layouts/header_adm'%>
<h1 style="text-align: center;">Daftar Anggota MTC</h1>

<div class="container">
   <div class="row">
    <div class="col-sm-12">
     
    <%= link_to 'New Akun', new_akun_path, class: "btn btn-primary float-right" %><br><br>
      
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
    <% if notice.present?%>
      <p style="text-align: center" id="notice" class="alert alert-danger"><%= notice %></p>
    <%end%>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-2">
      <div class="list-group">
        <a href="#" class="list-group-item "><span>Asisten Pelatih</span></a>
        <a href="#" class="list-group-item "> <span>Bendahara</span></a>
        <a href="#" class="list-group-item"> <span>Sekretaris</span></a>
        <a href="#" class="list-group-item"> <span>Anggota Aktif</span></a>
        <a href="#" class="list-group-item"> <span>Alumni</span></a>
        <a href="#" class="list-group-item active"> <span>Semua Data</span></a>
      </div>
    </div>
 <div class="col-sm-10 table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>No reg</th>
        <th>Nama</th>
        <th>Tempat lahir</th>
        <th>Tgl lahir</th>
        <th>Geup</th>
        <th>Alamat</th>
        <th>Dojang</th>
        <th>Tahun masuk</th>
        <th>Angkatan</th>
        <th>Pekerjaan</th>
        <th>Role</th>
        <th>Status</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>  

    <tbody>
      <% @akuns.each do |akun| %>
        <tr>
          <td><%= akun.no_reg %></td>
          <td><%= akun.nama %></td>
          <td><%= akun.tempat_lahir %></td>
          <td><%= akun.tgl_lahir %></td>
          <td><%= akun.geup.warna_string %></td>
          <td><%= akun.alamat %></td>
          <td><%= akun.dojang.nama_dojang %></td>
          <td><%= akun.tahun_masuk %></td>
          <td><%= akun.angkatan %></td>
          <td><%= akun.pekerjaan %></td>
          <td><%= akun.role.nama_role %></td>
          <td><%= akun.status.nama_status %></td>
          <td><%= link_to 'Show', akun %></td>
          <td><%= link_to 'Edit', edit_akun_path(akun) %></td>
          <td><%= link_to 'Destroy', akun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
<br>

    
  </div>
</div>