<p id="notice"><%= notice %></p>

<p>
  <strong>No reg:</strong>
  <%= @akun.no_reg %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @akun.nama %>
</p>

<p>
  <strong>Tempat lahir:</strong>
  <%= @akun.tempat_lahir %>
</p>

<p>
  <strong>Tgl lahir:</strong>
  <%= @akun.tgl_lahir %>
</p>

<p>
  <strong>Geup:</strong>
  <%= @akun.geup %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @akun.alamat %>
</p>

<p>
  <strong>Dojang:</strong>
  <%= @akun.dojang %>
</p>

<p>
  <strong>Tahun masuk:</strong>
  <%= @akun.tahun_masuk %>
</p>

<p>
  <strong>Angkatan:</strong>
  <%= @akun.angkatan %>
</p>

<p>
  <strong>Pekerjaan:</strong>
  <%= @akun.pekerjaan %>
</p>

<p>
  <strong>Role:</strong>
  <%= @akun.role_id %>
</p>

<%= link_to 'Edit', edit_akun_path(@akun) %> |
<%= link_to 'Back', akuns_path %>
