
<br><br>
<h1 style="text-align: center;">Absensi MTC</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if notice.present?%>
        <p style="text-align: center" id="notice" class="alert alert-success"><%= notice %></p>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Edit', edit_akun_path(@akun) , class: 'btn btn-warning float-right ml-2 mb-2'%> 
      <%= link_to 'Back', akuns_path , class: 'btn btn-primary float-right mb-2' %>
      <table class="table mx-auto">
        <tr>
          <td>No Registrasi</td>
          <td>:</td>
          <td><%= @akun.no_reg %></td>
        </tr> 

        <tr>
          <td>Nama</td>
          <td>:</td>
          <td><%= @akun.nama %></td>
        </tr> 

        <tr>
          <td>Tempat Lahir</td>
          <td>:</td>
          <td><%= @akun.tempat_lahir %></td>
        </tr>

        <tr>
          <td>Tanggal Lahir</td>
          <td>:</td>
          <td><%= @akun.tgl_lahir %></td>
        </tr>

        <tr>
          <td>Geup</td>
          <td>:</td>
          <td><%= @akun.geup.warna_string %></td>
        </tr>

        <tr>
          <td>Alamat</td>
          <td>:</td>
          <td><%= @akun.alamat %></td>
        </tr>

        <tr>
          <td>Dojang</td>
          <td>:</td>
          <td><%= @akun.dojang.nama_dojang %></td>
        </tr>

        <tr>
          <td>Tahun Masuk</td>
          <td>:</td>
          <td><%= @akun.tahun_masuk %></td>
        </tr>

        <tr>
          <td>Angkatan</td>
          <td>:</td>
          <td><%= @akun.angkatan %></td>
        </tr>

        <tr>
          <td>Pekerjaan</td>
          <td>:</td>
          <td><%= @akun.pekerjaan %></td>
        </tr>

        <tr>
          <td>Nama</td>
          <td>:</td>
          <td><%= @akun.nama %></td>
        </tr>

        <tr>
          <td>Role</td>
          <td>:</td>
          <td><%= @akun.role.nama_role %></td>
        </tr>

      </table>
    </div>
  </div>
</div>


