<p id="notice"><%= notice %></p>

<p>
  <strong>Geup:</strong>
  <%= @geup.geup %>
</p>

<p>
  <strong>Warna string:</strong>
  <%= @geup.warna_string %>
</p>

<%= link_to 'Edit', edit_geup_path(@geup) %> |
<%= link_to 'Back', geups_path %>
