<h1 style="text-align: center;">Catatan Kas Club</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <% if notice.present?%>
      <p style="text-align: center" id="notice" class="alert alert-danger"><%= notice %></p>
    <%end%>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-10">
      <%= link_to 'Input Kas Club', new_kas_club_path , class: "btn btn-primary float-right"%><br><br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Keterangan</th>
            <th>Debit</th>
            <th>Kredit</th>
            <th>Saldo</th>
            <th>Bendahara</th>
            <th colspan="3"></th>
          </tr>
        </thead>      

        <tbody>
          <% @kas_clubs.each do |kas_club| %>
            <tr>
              <td><%= kas_club.keterangan %></td>
              <td><%= kas_club.debit %></td>
              <td><%= kas_club.kredit %></td>
              <td><%= kas_club.saldo %></td>
              <td><%= kas_club.akun.nama %></td>
              <td><%= link_to 'Show', kas_club %></td>
              <td><%= link_to 'Edit', edit_kas_club_path(kas_club) %></td>
              <td><%= link_to 'Destroy', kas_club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<br>


  </div>
</div>