<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profil MTC</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" id="slider1">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" id="slider2">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" id="slider3">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->

    <section class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-2">

              <div class="list-group">
                <a href="#" class="list-group-item active"><span>Sejarah MTC</span></a>
                <a href="#" class="list-group-item"> <span>Struktur Organisasi</span></a>
                <a href="#" class="list-group-item"> <span>Kata Alumni</span></a>
              </div>
        </div>
        <div class="col-sm-10">
         <h1>Sejarah Malingping Taekwondo Community</h1>
        <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque ante in ipsum blandit vehicula. Fusce ut velit hendrerit metus malesuada finibus vel vitae quam. Nam finibus, mi quis hendrerit vehicula, erat lacus euismod dui, at sollicitudin lacus dolor sit amet sem. Sed sed dui sit amet tortor congue ultricies ac in nunc. Quisque interdum mi magna, eget semper mi semper at. Maecenas eu sapien mauris. Sed id euismod urna, eu tempor elit. Praesent vitae tempus quam, quis mattis risus. Nulla tempus dui sit amet neque finibus, vel auctor eros tempus. Etiam dapibus venenatis magna, at tempor enim semper sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec convallis turpis in elit maximus, quis pharetra ligula ornare.  <br><br>      

        Cras semper dolor sed neque consectetur, sed mattis eros laoreet. Fusce ornare dictum lectus quis viverra. Vivamus ac libero sodales, gravida elit vel, tristique lacus. Nulla at nisi id magna aliquam mattis. Morbi iaculis sapien id felis feugiat, nec blandit tortor faucibus. Suspendisse pretium urna nec gravida rutrum. Phasellus et metus ante.<br><br>       

        Phasellus eros turpis, lobortis vel lobortis in, ullamcorper in quam. Vivamus blandit mi id pretium lacinia. Nulla facilisi. Praesent sed quam eu elit dapibus consequat non vitae felis. Suspendisse id finibus dui. Maecenas at dui iaculis, placerat tellus ut, rutrum enim. Donec sed vehicula dui, pretium egestas ipsum. Curabitur mattis nulla ut vulputate porta. Cras nec velit non leo feugiat dignissim nec sed ex. In laoreet ut turpis sed tempor. Cras sit amet pulvinar ligula, nec accumsan eros. Quisque eu imperdiet ante. Suspendisse pharetra vestibulum sapien nec convallis. Donec nisl urna, ultricies sodales erat sed, dictum congue ipsum.        <br><br>

        Quisque lacinia viverra arcu, sit amet gravida nisl vulputate non. Morbi scelerisque eget est sit amet feugiat. Aliquam eu augue id lacus dignissim congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum tincidunt est sit amet ultrices pretium. Nam tincidunt sit amet orci et placerat. Aenean sit amet nibh et enim blandit egestas. Suspendisse dictum auctor arcu nec feugiat. Proin sollicitudin ante et ex porta, non egestas ante bibendum. Etiam laoreet felis ex, ac rhoncus sapien volutpat vel. Suspendisse potenti. Aenean sagittis egestas tincidunt. Proin dapibus nunc nec urna tincidunt vehicula. Donec consequat lacus at efficitur condimentum.        <br><br>

        Aliquam sem orci, tristique nec dapibus at, tincidunt vitae libero. Nunc gravida tortor magna, ut vulputate urna tristique a. Ut eu vulputate quam. In id tortor hendrerit, eleifend neque quis, mattis purus. Morbi ac sodales quam, sit amet venenatis nulla. Aenean dignissim non nulla non feugiat. Integer at aliquet nibh. Nullam non venenatis risus. Vivamus sed commodo ipsum. Aenean varius turpis eu fringilla pellentesque. In nisi lacus, viverra nec facilisis maximus, posuere et mauris.</code>
          file.</p>
        </div>
       <!--  <div class="col-sm-4">

              <div class="list-group">
                <a href="#" class="list-group-item active"><i class="fa fa-key"></i> <span>Contoh Prestasi</span></a>
                <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Billing</span></a>
                <a href="#" class="list-group-item"><i class="fa fa-question-circle"></i> <span>Support</span></a>
            </div>
        </div> -->

        </div>
      </div>
    </section>
    <br><br><br>

    <section class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-2">

              <div class="list-group">
                <a href="#" class="list-group-item "><span>Sejarah MTC</span></a>
                <a href="#" class="list-group-item active"> <span>Struktur Organisasi</span></a>
                <a href="#" class="list-group-item"> <span>Kata Alumni</span></a>
              </div>
        </div>
          <div class="col-sm-10">

           <h1>Struktur Organisasi</h1>
            <img class="col-sm-10" src=<%= image_path('profil/struktur.jpg') %> >
          </div>
        </div>
      </div>
    </section>

    <section class="py-5">
      <!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" style="text-align: center;">Kata Alumni</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/putri.png') %> alt="card image"></p>
                                    <h4 class="card-title">Putri Wulan Clara Davita</h4>
                                    <p class="card-text">Pegawai Negeri Sipil</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Putri Wulan Clara Davita</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/oca.png') %> alt="card image"></p>
                                    <h4 class="card-title">Dede Firmansyah</h4>
                                    <p class="card-text">Enterpreuner Muda</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dede Firmansyah</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/ulfah.png') %> alt="card image"></p>
                                    <h4 class="card-title">Ulfah</h4>
                                    <p class="card-text">Pegawai Negeri Sipil</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ulfah</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/mila.png') %> alt="card image"></p>
                                    <h4 class="card-title">Mila</h4>
                                    <p class="card-text">Business Woman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Mila</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/menur.png') %> alt="card image"></p>
                                    <h4 class="card-title">M Nur</h4>
                                    <p class="card-text">Enterpreneur Sukses</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">M. Nur</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src=<%= image_path('team/anita.png') %> alt="card image"></p>
                                    <h4 class="card-title">Anita</h4>
                                    <p class="card-text">Akuntan Bank Mandiri</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anita Puspitasari</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"><i>Keep Calm and Train Taekwondo</i></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
