<%= render 'layouts/header_adm'%>
<br><br>
<h1 style="text-align: center;">Absensi MTC</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if notice.present?%>
        <p style="text-align: center" id="notice" class="alert alert-success"><%= notice %></p>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table mx-auto">
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td><%= @absensi.akun_id.nama %></td>
        </tr>

        <tr>
          <td>Tanggal</td>
          <td>:</td>
          <td><%= @absensi.tgl %></td>
        </tr>

        <tr>
          <td>Keterangan</td>
          <td>:</td>
          <td><%= @absensi.keterangan %></td>
        </tr>

        <tr>
          <td>Dojang</td>
          <td>:</td>
          <td><%= @absensi.dojang_id %></td>
        </tr>

        <tr>
          <td>Diinput oleh</td>
          <td>:</td>
          <td><%= @absensi.akun_id.nama %></td>
        </tr>
      </table>

      <%= link_to 'Edit', edit_absensi_path(@absensi), class: 'btn btn-warning mr-2 float-right' %> &nbsp;&nbsp;
        </tr>
      <%= link_to 'Back', absensis_path , class: 'btn btn-primary float-right ml-2'%>
</div>
  </div>
</div>