<p id="notice"><%= notice %></p>

<h1>Pj Dojangs</h1>

<table>
  <thead>
    <tr>
      <th>Dojang</th>
      <th>Akun</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pj_dojangs.each do |pj_dojang| %>
      <tr>
        <td><%= pj_dojang.dojang_id %></td>
        <td><%= pj_dojang.akun_id %></td>
        <td><%= link_to 'Show', pj_dojang %></td>
        <td><%= link_to 'Edit', edit_pj_dojang_path(pj_dojang) %></td>
        <td><%= link_to 'Destroy', pj_dojang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pj Dojang', new_pj_dojang_path %>
