<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Profile', akun_path(session[:akun_id]) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kas<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if !current_user.role_id == 9 %> 
              <li><%= link_to 'Kas Saya', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 9 %>
              <li><%= link_to 'SMA', kas_smas_path %></li>
              <li><%= link_to 'Club', new_akun_path %></li>
              <li><%= link_to 'SMP', new_akun_path %></li>
               <li><%= link_to 'Umum', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 2 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
            <% elsif current_user.role_id == 5 %>
              <li><%= link_to 'Club', new_akun_path %></li>
            <% elsif current_user.role_id == 4 %>
              <li><%= link_to 'SMP', new_akun_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UKT<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if !current_user.role_id == 9 %> 
            <li><%= link_to 'Riwayat UKT Saya', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 9 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
              <li><%= link_to 'Club', new_akun_path %></li>
              <li><%= link_to 'SMP', new_akun_path %></li>
               <li><%= link_to 'Rekapan Kejuaraan', new_akun_path %></li>
              <li><%= link_to 'Semua Data', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 9 || current_user.role_id == 2 %>
                <li><%= link_to 'SMA', new_akun_path %></li>
            <% elsif current_user.role_id == 9 || current_user.role_id == 5 %>
                <li><%= link_to 'Club', new_akun_path %></li>
            <% elsif current_user.role_id == 9 || current_user.role_id == 4 %>
                <li><%= link_to 'SMP', new_akun_path %></li>
            <% elsif current_user.role_id == 9 %>
                <li><%= link_to 'Rekapan UKT', new_akun_path %></li>
                <li><%= link_to 'Semua Data', new_akun_path %></li>
            <% end %>
            
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kejuaraan<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if !current_user.role_id == 9 %> 
              <li><%= link_to 'Riwayat Kejuaraan Saya', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 9 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
              <li><%= link_to 'Club', new_akun_path %></li>
              <li><%= link_to 'SMP', new_akun_path %></li>
               <li><%= link_to 'Rekapan Kejuaraan', new_akun_path %></li>
              <li><%= link_to 'Semua Data', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 2 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
            <% current_user.role_id == 5 %>
              <li><%= link_to 'Club', new_akun_path %></li>
            <% elsif current_user.role_id == 4 %>
              <li><%= link_to 'SMP', new_akun_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Absensi <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if !current_user.role_id == 9 %> 
              <li><%= link_to 'Riwayat Absensi Saya', new_akun_path %></li>
            <%end%>
            <% if current_user.role_id == 9 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
              <li><%= link_to 'Club', new_akun_path %></li>
              <li><%= link_to 'SMP', new_akun_path %></li>
               <li><%= link_to 'Rekapan Absensi', new_akun_path %></li>
              <li><%= link_to 'Semua Data', new_akun_path %></li>
            <%end%>
             <% if current_user.role_id == 2 %>
              <li><%= link_to 'SMA', new_akun_path %></li>
            <% elsif current_user.role_id == 5 %>
              <li><%= link_to 'Club', new_akun_path %></li>
            <% elsif current_user.role_id == 4 %>
              <li><%= link_to 'SMP', new_akun_path %></li>
            <% end %>
          </ul>
        </li>
        <% if current_user.role_id == 10 %>
        <li ><%= link_to 'Kelola Berita', new_akun_path %></li>
        <%end%>
        <% if current_user.role_id == 9 %>
        <li ><%= link_to 'Surat', new_akun_path %></li>
        <%end%>
        <% if current_user.role_id == 9 || current_user.role_id == 2 || current_user.role_id == 4 || current_user.role_id == 5 %>
          <li ><%= link_to 'Pembayaran', new_akun_path %></li>
          <li ><%= link_to 'Kategori Pembayaran', new_akun_path %></li>
        <% end%>
        <% if current_user.role_id == 9 %>
          <li><%= link_to 'Geup', new_akun_path %></li>
          <li ><%= link_to 'Dojang', new_akun_path %></li>
          <li ><%= link_to 'Akun', new_akun_path %></li>
          <li ><%= link_to 'Role', new_akun_path %></li>
          <li ><%= link_to 'Pengurus', new_akun_path %></li>
        <% end %>
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="main">
<!-- Content Here -->
</div>