  <!-- Navigation -->
    <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark shadow" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">MTC</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <%= link_to "Beranda", root_path , class: "nav-link js-scroll-trigger"%>
            </li>
            <li class="nav-item">
              <%= link_to "Profil", profil_path , class: "nav-link js-scroll-trigger"%>
            <!--   <a class="nav-link js-scroll-trigger" href="#portfolio">Profil</a> -->
            </li>
            <li class="nav-item">
              <%= link_to "Berita", news_index_path , class: "nav-link js-scroll-trigger"%>
              
            </li>
            <li class="nav-item">
             <div class="dropdown show">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event
              </a>            
              <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                <a><%= link_to "UKT", ukts_path, class: "dropdown-item"%></a>
                <a class="dropdown-item " href="#">Kejuaraan</a>
                <a class="dropdown-item" href="#">Demo</a>
              </div>
            </div>
              <!-- <a class="nav-link js-scroll-trigger" href="#team">Event</a> -->
            </li>

            <% if session[:akun_id].present?  %>

              <li class="nav-item">
                <div class="dropdown show">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.nama %>
                  </a>            
                  <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                    <a><%= link_to "Akun Saya", ukts_path, class: "dropdown-item"%></a>
                     <a><%= link_to "Logout", logout_path , class: "dropdown-item"%></a>
                  </div>
                </div>
              <!-- <a class="nav-link js-scroll-trigger" href="#team">Event</a> -->
            </li>
            <% else %>
              <li class="nav-item">
               <%= link_to "Login", login_path , class: "nav-link js-scroll-trigger"%>
            </li>
          <% end %>

            
          </ul>
        </div>
      </div>
    </nav>
