<!DOCTYPE html>
<html>
  <head>
    <title>M T C</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if session[:akun_id].present?  %>
       <%= render 'layouts/admin_panel'%>
       <% end %>
     <main role="main"> 
    <%= yield %>
     </main>
   

  </body>
</html>
<%= render 'layouts/footer' %>
