<%= render 'layouts/header_adm'%>
<h1 class="mt-2" style="text-align: center;">Daftar Unit MTC</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if notice.present?%>
        <p style="text-align: center" id="notice" class="alert alert-success"><%= notice %></p>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table mx-auto">
        <%= form_with(model: dojang, local: true) do |form| %>
          <% if dojang.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(dojang.errors.count, "error") %> prohibited this dojang from being saved:</h2>    
              <ul>
              <% dojang.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>       

          <div class="field">
            <%= form.label :nama_dojang %>
            <%= form.text_field :nama_dojang, class: "form-control" %>
          </div>        

          <div class="field">
            <%= form.label :alamat %>
            <%= form.text_area :alamat , class: "form-control"%>
          </div>         

          <div class="actions">
            <%= form.submit class: "btn btn-primary float-right mt-2"%>
          </div>
        <% end %>
    </table>
  </div>
</div>